<div class="container-fluid">
  <ul class=" nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link">
        <app-mqtt-broker-connection></app-mqtt-broker-connection>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fa fa-user"></i>
        <span>Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" (click)="performLogOut()">
        <i class="fa fa-sign-out"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
<hr/>

<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column">
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart"></i>
          <span> Statistics</span>
        </a>
        <a class="nav-link" href="#">
          <i class="fa fa-clock-o"></i>
          <span> Alarm</span>
        </a>
        <a class="nav-link" href="#">
          <i class="fa fa-lightbulb-o"></i>
          <span> Smart Lights</span>
        </a>
        <a class="nav-link" routerLink="thingy">
          <i class="fa fa-cogs"></i>
          <span> Configurations</span>
        </a>
        <a class="nav-link" href="#">
          <i class="fa fa-plug"></i>
          <span> Connections</span>
        </a>
      </div>
    </div>

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
