<div class="modal fade">

</div>
<div class="modal-header">
  <h4 class="modal-title">Login</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <img *ngIf="contactingServer"
       src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>

  <div *ngIf="error" class="alert alert-danger">
    {{errorMessage}}
  </div>


  <form [formGroup]="form">
    <div class="container-fluid">
      <div class="row">
        <div class="form-group col">
          <label for="usernameOrEmail">Username or email</label>
          <input class="form-control" id="usernameOrEmail" name="usernameOrEmail" formControlName="usernameOrEmail" placeholder="Username or email" required>
        </div>
      </div>
      <div class="row">
        <div class="form-group col">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" formControlName="password"
                 placeholder="Password" required>
          <div class="text-danger"
               *ngIf="form.controls.password.invalid && (form.controls.password.dirty || form.controls.password.touched)">
            The password should be at least 8 characters long.
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-outline-primary" (click)="login()">
    <i class="fa fa-sign-in"></i>
    <span> Login</span>
  </button>
  <button type="button" class="btn btn-light" (click)="activeModal.close('Close click')">Close</button>
</div>
