<div class="container-fluid">
  <div *ngIf="connectionState === 'Connected'">
    <span class="badge badge-pill badge-primary">{{connectionState}} <i class="fa fa-plug"></i></span>
  </div>
  <div *ngIf="connectionState === 'Reconnecting'">
    <span class="badge badge-pill badge-warning">{{connectionState}}</span>
  </div>
  <div *ngIf="connectionState === 'Disconnected'">
    <span class="badge badge-pill badge-danger">{{connectionState}}</span>
  </div>
  <div *ngIf="connectionState === null">
    <span class="badge badge-pill badge-secondary">Unkown</span>
  </div>
</div>
